@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-12">
        <a class="btn btn-success float-right" style="margin:1rem;" asp-page="./Create">Create New Room Reservation</a>
    </div>
}

@if (Model.Message != null)
{
    <div class="alert alert-info row" role="alertdialog"><text class="text-center alert-heading">@Model.Message</text></div>
}
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Room Booked</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.ReservationId</td>
                    <td>@reservation.ClientName</td>
                    <td>@reservation.Location</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.Identity.Name.Equals(reservation.ClientName))
                        {
                            <td>
                                <a class="btn btn-info" asp-page="./Edit" asp-route-id="@reservation.ReservationId">Edit</a>
                                <input class="btn btn-danger" type="submit" asp-page-handler="delete" asp-route-id="@reservation.ReservationId" value="Delete" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <button class="btn btn-info" disabled>Edit</button>
                                <input class="btn btn-danger" disabled type="submit" asp-page-handler="delete" asp-route-id="@reservation.ReservationId" value="Delete" />
                            </td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</form>